.grid {
  display: flex;
  flex-direction: row;
  width: 900px;
  flex-wrap: wrap;
  margin: auto;

  .hole {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;

    img {
      width: 100%;
    }
  }
}
